<div class="container mb-5 mt-5">
  <div class="card">
    <div class="card-header" style="background-color: #80ba7a;">
      <h5 class="text-white">
        {{ cliente.idCliente ? 'Edição de Cliente' : 'Cadastro de Cliente' }}
      </h5>
    </div>

    <div class="card-body">
      <div class="container col-md-6">
        <div>
          <form class="mt-4">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input type="text" id="nome" class="form-control" name="nome" [(ngModel)]="cliente.nome">
            </div>

            <div class="mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input type="text" id="cpf" class="form-control" name="cpf" [(ngModel)]="cliente.cpf"
              maxlength="11" pattern="[0-9]*" required>
            </div>

            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone:</label>
              <input type="text" id="telefone" class="form-control" name="telefone" [(ngModel)]="cliente.telefone">
            </div>

            <div class="row mt-4">
              <div class="col-md-12">
                <button type="submit" class="btn btn-outline-success col-md-3" (click)="salvarNovoCliente()">
                  Salvar
                </button>
                &nbsp;
                <a href="/clientes" class="btn btn-outline-dark col-md-3">
                  Voltar
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
