<nav class="navbar navbar-expand-lg " style="background-color: #27432e;">
  <a class="navbar-brand text-white" href="#">
    &nbsp;<i class="bi bi-fire"></i> QUEIMAS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="/clientes" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Clientes
        </a>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item " href="/clientes">Clientes</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item " href="/clientes/detalhe">Cadastrar Cliente</a></li>
        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Peças
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item " href="/pecas">Peças</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/pecas/detalhe">Cadastrar Peça</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/tipos/detalhe">Cadastrar Tipo</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="/queimas" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Queimas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/queimas">Queimas</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/queimas/detalhe">Cadastrar Queima</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- router eh meio da tela -->


